@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .signup-input {
    @apply w-full py-0.5 px-1 outline-none border rounded-md text-slate-700;
  }

  .upload-input {
    @apply w-80 py-0.5 px-1 outline-none border rounded-md text-slate-700 block
  }

  .hamburger__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 3rem;
    height: 2rem;
  }

  .hamburger-item {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ebe6e6;
  }

  .navigations {
    display: none;
  }

  .backlight {
    display: none;
    background-color: rgba(34, 34, 34, 0.6);
    position: absolute;
    z-index: 21;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
}

.sidebar{
    display: none;
    position: fixed;
    z-index: 21;
    left: 30%;
    width: 100vw;
    height: 100%;
}

.open {
  display: block;
}

  @media (min-width: 45rem) {
    .hamburger__container {
        display: none;
    }
    .navigations {
        display: flex;
    }
  }
}
