@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .hero-title {
    left: calc(50% - 12rem);
    top: calc(12rem - 5rem);
    /* transform: translate() scaleX(0);
    animation: ScaleTitleContainer 0.4s forwards ease-out; */
  }
  
  /* .hero-text {
    transform: translateY(10%);
    animation: ScaleTextContainer 0.4s forwards ease-out;
  }

  @keyframes ScaleTitleContainer {
    to {
      transform: translate(0) scaleX(1);
    }
  }

  @keyframes ScaleTextContainer {
    to {
      transform: translateY(0) scaleX(1);
    }
  } */

  .loading {
    margin-top: calc(50vh - 5rem);
    margin-left: calc(50% - 5rem);
  }

  .signup-input {
    @apply w-full py-0.5 px-1 outline-none border rounded-md text-slate-700;
  }

  .upload-input {
    @apply w-80 py-0.5 px-1 outline-none border rounded-md text-slate-700 block;
  }

  .hamburger__container-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2.5rem;
    height: 1.75rem;
  }

  .hamburger-item {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ebe6e6;
  }

  .navigations {
    display: none;
  }

  @media (min-width: 45rem) {
    .hamburger__container {
      display: none;
    }
    .navigations {
      display: flex;
    }
  }
}
